/* 
    Created on : 04.11.2017, 15:15:15
    Author     : N3asu
*/

body {
    font-family: 'Fira Sans', sans-serif;
    background-image: url();
}

.form-group > .col-xs-3, .col-xs-6 {
    padding-right: 0px;
    padding-left: 0px;
}

.panel-heading > h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.panel {
    padding-left: 10px;
    padding-right: 10px;
}

.alert {
    margin: 10px;
}

.checkbox {
    display: inline-block;
}

.serie {
    padding: 0px;
}
